
* { box-sizing:border-box; }

body {
    height: 100%;
    /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
    font: 20px 'Roboto', sans-serif;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
    background-color: #efefef;
}

li {
    line-height:1.7;
}

/* Navigation */
#navigation {
    position: fixed;
    display:none;
    width: 100%;
    height: 100%;
    top: 45%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    pointer-events: none;
}

#navigation > div > a {
    pointer-events: all;
    text-decoration: none;
    color: #666666;
    font-size: 2em;
}

#navigation > div > a:hover {
    color: #333333;
}

#nav_left {
    position: fixed;
    /*top: 25px;*/
    left: 2%;

}

#nav_right {
    position: fixed;
    right: 2%;
}

/* Header / PAGE TITLE */
h1 {
    /*padding-left: 50px;*/
}

section {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    z-index: 1;
    /*background: linear-gradient(#D1C6FF, #E6E0FF);*/
    background-color: white;
    box-shadow: 0px 0px 0px grey;
     -webkit-transition:  box-shadow .2s ease-out;
        box-shadow: .8px .9px 3px grey;
}

section:hover{
     box-shadow: 1px 8px 20px grey;
    -webkit-transition:  box-shadow .6s ease-in;
  }

/* Section anchors */
section > h2 > a  {
    color: #666666;
    text-decoration: none;
    z-index: 1;
}

section > img {

}

/* Solutions */
.solution_wrap {
    transition: all .5s;
    transition-timing-function: ease-out;
    transform: translate3d(-150%, 0, 0) scale3d(1, 1, 1);
}

.fade_out {
    transition: all .5s;
    transition-timing-function: ease-out;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
}

.solution_link {
    cursor: pointer;
    color: #666666;
}
/* --------- */

.codeAndCanvas {
    height:auto;
    clear:both;
}

.codeAndCanvas canvas {
    float: right;
    position: relative;
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    margin: 15px;
}

.ge_canvas {
    margin: 10px;
}

.editor_wrap .ge_canvas_container {
    float: right !important;
    position: absolute !important;
    z-index: 10001;
}

/*.ge_editor {
    min-height: 300px !important;
}*/

.editor_wrap {
    position: relative;
}

.simpleFunction {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;

}

.simpleFunction .CodeMirror {
    background: #F9F9F9;
    font-size: 14px;
    line-height: 1.5em;
}

.simpleFunction canvas {
    float: top;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}
.simpleFunction .ge_control {
    display: none;
}

/*// .CodeMirror-wrap {
//     min-height: 300px !important;
// }*/

u {
    background-color: light-gray;
}

a[target="_blank"] {
    /*color: blue;*/
    /*font-size: 1rem;*/
    text-decoration: none;
}

.save_icon {
    cursor: pointer;
}
